In [46]:
import pandas as pd

# Load Excel file (modify 'your_file.xlsx' with the actual file path)
file_path = "Copy of Data_for_Prediction_(1)(1).xlsx"
df = pd.read_excel(file_path, sheet_name="Ratios")  # Sheet numbers are 0-indexed
df.set_index("Company")
#df.set_index('Unnamed: 0_level_0')
# Create the 'has_null' column
#df['has_null'] = df.isnull().any(axis=1)

#df.loc[df.any(axis=1), 'has_null'] = False  # If any value in the row is True, set to False
df.head()
# Save the modified DataFrame
#df.to_excel("modified_file.xlsx", index=False)

# Display the first few rows
#print(df.head())

,Company,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,A B B India Ltd.,12.748919,3.752364,0.000507,1.495521,8.619049,4.079024,0.002006,1.551027,6.078672,...,0.000000,1.657265,20.573915,11.725277,0.000000,1.815628,20.893752,11.612910,0.000000,1.904106
1,Adani Enterprises Ltd.,14.997445,3.045228,0.875293,1.000852,18.582558,4.205362,0.725376,1.016260,8.934372,...,0.805591,1.090386,11.646014,2.728212,0.209581,1.093878,17.093381,8.441514,0.344510,1.149237
2,Adani Green Energy Ltd.,-1.620983,-5.634937,1.056387,2.161145,6.124314,8.481013,0.745430,1.865436,14.736842,...,7.619656,0.832749,-5.799151,-3.900583,2.402935,0.681881,-10.581395,-4.223718,4.442248,0.711051
3,Adani Ports & Special Economic Zone Ltd.,12.872157,34.348533,1.185406,1.509432,9.736891,25.631936,1.381963,1.591090,8.843196,...,1.491931,2.099642,-1.670331,-5.821193,1.655680,1.072179,5.921989,19.789914,1.693194,0.831747
4,Adani Power Ltd.,-1.314995,-6.491021,0.627013,0.049649,-8.489731,-69.960755,0.361098,0.139792,-2.919109,...,2.187797,1.015470,36.303136,24.999292,1.162362,1.176356,47.528952,37.956678,0.650086,1.704967

                          Unnamed: 0_level_0  2019-03-01 00:00:00  \
                                Company Name Return on Equity (%)
0                           A B B India Ltd.            12.748919
1                Adani Energy Solutions Ltd.                  NaN
2                     Adani Enterprises Ltd.            14.997445
3                    Adani Green Energy Ltd.            -1.620983
4   Adani Ports & Special Economic Zone Ltd.            12.872157
..                                       ...                  ...
80                      Varun Beverages Ltd.            12.837350
81                              Vedanta Ltd.             6.516436
82                                Wipro Ltd.            15.415452
83                               Zomato Ltd.           -33.439291
84                   Zydus Lifesciences Ltd.            17.337735

                                                                    \
   Net Profit Margin (%) Debt/Equity (Times) Current Ratio (Times)
0               3.752364            0.000507              1.495521
1                    NaN                 NaN                   NaN
2               3.045228            0.875293              1.000852
3              -5.634937            1.056387              2.161145
4              34.348533            1.185406              1.509432
..                   ...                 ...                   ...
80              8.405604            0.832305              0.664568
81             11.329137            0.484091              0.464959
82             15.020003            0.102733              2.956431
83            -74.932275            0.000000              4.711529
84             21.826065            0.390098              1.518942

    2020-03-01 00:00:00                                            \
   Return on Equity (%) Net Profit Margin (%) Debt/Equity (Times)
0              8.619049              4.079024            0.002006
1                   NaN                   NaN                 NaN
2             18.582558              4.205362            0.725376
3              6.124314              8.481013            0.745430
4              9.736891             25.631936            1.381963
..                  ...                   ...                 ...
80            11.598873              7.850296            0.698906
81            -9.631590            -17.382772            0.464239
82            18.686778             16.414730            0.108215
83          -287.079395            -98.608474            0.000000
84            12.547768             18.808359            0.262378

                          2021-03-01 00:00:00  ...   2022-03-01 00:00:00  \
   Current Ratio (Times) Return on Equity (%)  ... Current Ratio (Times)
0               1.551027             6.078672  ...              1.657265
1                    NaN                  NaN  ...              0.965652
2               1.016260             8.934372  ...              1.090386
3               1.865436            14.736842  ...              0.832749
4               1.591090             8.843196  ...              2.099642
..                   ...                  ...  ...                   ...
80              0.736358             5.643921  ...              0.722466
81              0.429017            13.677562  ...              0.681890
82              2.779972            22.238161  ...              2.234093
83              1.784038           -10.792427  ...             11.064395
84              1.389470            11.583063  ...              1.697510

    2023-03-01 00:00:00                                            \
   Return on Equity (%) Net Profit Margin (%) Debt/Equity (Times)
0             20.573915             11.725277            0.000000
1              1.648937             13.070410            0.251815
2             11.646014              2.728212            0.209581
3             -5.799151             -3.900583            2.402935
4             -1.670331             -5.821193            1.655680
..                  ...                   ...                 ...
80            23.021532             11.827185            0.393399
81            30.436090             23.795080            0.601635
82            14.621357             13.087659            0.082545
83             0.562327              2.124569            0.000000
84            11.211620             16.478448            0.347543

                          2024-03-01 00:00:00                        \
   Current Ratio (Times) Return on Equity (%) Net Profit Margin (%)
0               1.815628            20.893752             11.612910
1               1.540092             5.447126             23.683760
2               1.093878            17.093381              8.441514
3               0.681881           -10.581395             -4.223718
4               1.072179             5.921989             19.789914
..                   ...                  ...                   ...
80              0.750203            25.088475             13.890958
81              0.617810            10.105896              8.679300
82              2.864638            15.781066             13.056751
83              9.325939             6.019753             18.178202
84              2.565571            21.897341             28.911665

                                             has_null
   Debt/Equity (Times) Current Ratio (Times)
0             0.000000              1.904106    False
1             0.472889              1.251469     True
2             0.344510              1.149237    False
3             4.442248              0.711051    False
4             1.693194              0.831747    False
..                 ...                   ...      ...
80            0.535096              0.891337    False
81            0.644409              0.510576    False
82            0.072254              2.741269    False
83            0.000000              2.544531    False
84            0.392802              3.122610    False

[85 rows x 26 columns]

In [55]:

df2 = pd.read_excel(file_path, sheet_name="CP")  # Sheet numbers are 0-indexed

# Create the 'has_null' column
#df2['has_null'] = df2.isnull().any(axis=1)
#df2.loc[df.any(axis=1), 'has_null'] = False  # If any value in the row is True, set to False
df2.head()
# Save the modified DataFrame
#df2.to_excel("modified_file.xlsx", index=False)

,Company,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,A B B India Ltd.,2839.50,29.890749,3217.35,29.890749,3365.15,37.685155,3417.95,37.685155,4125.90,...,7936.05,74.679918,8055.00,78.340934,7429.45,78.340934,7421.25,78.340934,6912.25,78.340934
1,Adani Energy Solutions Ltd.,1774.00,1.077103,642.90,1.077103,993.05,1.526052,1029.45,1.526052,776.70,...,1007.40,3.067971,1009.65,3.686393,976.20,3.686393,840.50,3.686393,806.20,4.097870
2,Adani Enterprises Ltd.,2973.90,12.220251,1363.85,12.220251,1750.45,14.689722,1924.95,14.689722,2493.35,...,3019.35,23.875240,3135.85,22.701557,2947.25,22.422658,2463.15,22.422658,2528.65,20.829580
3,Adani Green Energy Ltd.,1223.90,-1.306791,485.30,-1.306791,881.15,-1.660319,951.00,-1.660319,977.70,...,1838.15,-2.083291,1902.70,0.284085,1598.30,0.284085,1323.90,0.284085,1040.70,3.087058
4,Adani Ports & Special Economic Zone Ltd.,612.65,-8.135356,592.45,-8.135356,631.90,-2.061812,681.30,-2.061812,738.85,...,1481.90,8.946508,1448.20,10.688479,1375.95,10.688479,1190.05,10.688479,1231.10,10.148699

                         Unnamed: 0_level_0 2023-01-01 00:00:00  \
                               Company Name      Closing Price
0                          A B B India Ltd.             2839.50
1               Adani Energy Solutions Ltd.             1774.00
2                    Adani Enterprises Ltd.             2973.90
3                   Adani Green Energy Ltd.             1223.90
4  Adani Ports & Special Economic Zone Ltd.              612.65

                                     2023-02-01 00:00:00  \
  Adjusted Closing Price        EPS       Closing Price
0                 2839.50  29.890749             3217.35
1                 1774.00   1.077103              642.90
2                 2973.90  12.220251             1363.85
3                 1223.90  -1.306791              485.30
4                  612.65  -8.135356              592.45

                                     2023-03-01 00:00:00  \
  Adjusted Closing Price        EPS       Closing Price
0                 3217.35  29.890749             3365.15
1                  642.90   1.077103              993.05
2                 1363.85  12.220251             1750.45
3                  485.30  -1.306791              881.15
4                  592.45  -8.135356              631.90

                                      ... 2024-10-01 00:00:00  \
  Adjusted Closing Price        EPS   ...      Closing Price
0                 3365.15  37.685155  ...             7429.45
1                  993.05   1.526052  ...              976.20
2                 1750.45  14.689722  ...             2947.25
3                  881.15  -1.660319  ...             1598.30
4                  631.90  -2.061812  ...             1375.95

                                     2024-11-01 00:00:00  \
  Adjusted Closing Price        EPS       Closing Price
0                 7429.45  78.340934             7421.25
1                  976.20   3.686393              840.50
2                 2947.25  22.422658             2463.15
3                 1598.30   0.284085             1323.90
4                 1375.95  10.688479             1190.05

                                     2024-12-01 00:00:00  \
  Adjusted Closing Price        EPS       Closing Price
0                 7421.25  78.340934             6912.25
1                  840.50   3.686393              806.20
2                 2463.15  22.422658             2528.65
3                 1323.90   0.284085             1040.70
4                 1190.05  10.688479             1231.10

                                     has_null
  Adjusted Closing Price         EPS
0                 6912.25  78.340934    False
1                  806.20   4.097870    False
2                 2528.65  20.829580    False
3                 1040.70   3.087058    False
4                 1231.10  10.148699    False

[5 rows x 74 columns]

In [56]:

# Find common companies
common_companies = set(df['Company']).intersection(set(df2['Company']))

# Filter both DataFrames to keep only common companies
df1_filtered = df[df['Company'].isin(common_companies)]
df2_filtered = df2[df2['Company'].isin(common_companies)]

In [57]:
df1_filtered

,Company,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,A B B India Ltd.,12.748919,3.752364,0.000507,1.495521,8.619049,4.079024,0.002006,1.551027,6.078672,...,0.000000,1.657265,20.573915,11.725277,0.000000,1.815628,20.893752,11.612910,0.000000,1.904106
1,Adani Enterprises Ltd.,14.997445,3.045228,0.875293,1.000852,18.582558,4.205362,0.725376,1.016260,8.934372,...,0.805591,1.090386,11.646014,2.728212,0.209581,1.093878,17.093381,8.441514,0.344510,1.149237
2,Adani Green Energy Ltd.,-1.620983,-5.634937,1.056387,2.161145,6.124314,8.481013,0.745430,1.865436,14.736842,...,7.619656,0.832749,-5.799151,-3.900583,2.402935,0.681881,-10.581395,-4.223718,4.442248,0.711051
3,Adani Ports & Special Economic Zone Ltd.,12.872157,34.348533,1.185406,1.509432,9.736891,25.631936,1.381963,1.591090,8.843196,...,1.491931,2.099642,-1.670331,-5.821193,1.655680,1.072179,5.921989,19.789914,1.693194,0.831747
4,Adani Power Ltd.,-1.314995,-6.491021,0.627013,0.049649,-8.489731,-69.960755,0.361098,0.139792,-2.919109,...,2.187797,1.015470,36.303136,24.999292,1.162362,1.176356,47.528952,37.956678,0.650086,1.704967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,Varun Beverages Ltd.,12.837350,8.405604,0.832305,0.664568,11.598873,7.850296,0.698906,0.736358,5.643921,...,0.516745,0.722466,23.021532,11.827185,0.393399,0.750203,25.088475,13.890958,0.535096,0.891337
65,Vedanta Ltd.,6.516436,11.329137,0.484091,0.464959,-9.631590,-17.382772,0.464239,0.429017,13.677562,...,0.472588,0.681890,30.436090,23.795080,0.601635,0.617810,10.105896,8.679300,0.644409,0.510576
66,Wipro Ltd.,15.415452,15.020003,0.102733,2.956431,18.686778,16.414730,0.108215,2.779972,22.238161,...,0.141288,2.234093,14.621357,13.087659,0.082545,2.864638,15.781066,13.056751,0.072254,2.741269
67,Zomato Ltd.,-33.439291,-74.932275,0.000000,4.711529,-287.079395,-98.608474,0.000000,1.784038,-10.792427,...,0.000000,11.064395,0.562327,2.124569,0.000000,9.325939,6.019753,18.178202,0.000000,2.544531
68,Zydus Lifesciences Ltd.,17.337735,21.826065,0.390098,1.518942,12.547768,18.808359,0.262378,1.389470,11.583063,...,0.162919,1.697510,11.211620,16.478448,0.347543,2.565571,21.897341,28.911665,0.392802,3.122610

df2_filtered

In [54]:
df2_filtered

,Company,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,has_null
0,A B B India Ltd.,2839.50,29.890749,3217.35,29.890749,3365.15,37.685155,3417.95,37.685155,4125.90,...,74.679918,8055.00,78.340934,7429.45,78.340934,7421.25,78.340934,6912.25,78.340934,False
2,Adani Enterprises Ltd.,2973.90,12.220251,1363.85,12.220251,1750.45,14.689722,1924.95,14.689722,2493.35,...,23.875240,3135.85,22.701557,2947.25,22.422658,2463.15,22.422658,2528.65,20.829580,False
3,Adani Green Energy Ltd.,1223.90,-1.306791,485.30,-1.306791,881.15,-1.660319,951.00,-1.660319,977.70,...,-2.083291,1902.70,0.284085,1598.30,0.284085,1323.90,0.284085,1040.70,3.087058,False
4,Adani Ports & Special Economic Zone Ltd.,612.65,-8.135356,592.45,-8.135356,631.90,-2.061812,681.30,-2.061812,738.85,...,8.946508,1448.20,10.688479,1375.95,10.688479,1190.05,10.688479,1231.10,10.148699,False
5,Adani Power Ltd.,223.80,26.224320,146.30,26.224320,191.60,10.189894,224.85,10.189894,249.65,...,30.085879,656.15,19.154853,592.70,19.154853,554.80,19.154853,529.45,20.140272,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,Varun Beverages Ltd.,1146.25,20.965450,1300.75,20.965178,1387.00,23.698729,1445.20,23.698729,1694.45,...,16.914869,606.30,7.002019,597.75,7.001915,621.20,6.727047,638.50,6.863857,False
90,Vedanta Ltd.,332.40,16.321429,268.35,16.321429,274.45,39.669654,279.35,39.669654,278.30,...,37.218813,512.65,44.558238,464.05,44.558238,453.50,44.558238,444.45,41.752889,False
91,Wipro Ltd.,398.85,22.393863,387.05,22.392546,365.25,17.534155,385.00,17.533636,403.65,...,16.623871,541.45,17.355450,551.80,17.354658,577.85,17.353089,301.85,9.426190,False
92,Zomato Ltd.,49.75,-0.108727,53.50,-0.108727,51.00,0.071316,64.90,0.071102,69.05,...,1.772621,273.30,1.892607,241.75,1.892186,279.76,1.822777,278.05,1.846565,False
93,Zydus Lifesciences Ltd.,431.55,12.696056,465.80,12.696056,491.55,16.141013,519.90,16.141013,502.30,...,43.258328,1068.55,43.107270,1001.25,43.107270,965.95,43.107270,971.70,43.067518,False

In [59]:
with pd.ExcelWriter("filtered_data.xlsx") as writer:
    df1_filtered.to_excel(writer, sheet_name="Filtered_DF1", index=False)
    df2_filtered.to_excel(writer, sheet_name="Filtered_DF2", index=False)
print("Done")

Done