In [11]:
import pandas as pd

# Load Excel file (modify 'your_file.xlsx' with the actual file path)
file_path = "Copy of Data_for_Prediction_(1)(1).xlsx"
df = pd.read_excel(file_path, sheet_name="Ratios", header=[0, 1])  # Sheet numbers are 0-indexed

# Create the 'has_null' column
df['has_null'] = df.isnull().any(axis=1)

#df.loc[df.any(axis=1), 'has_null'] = False  # If any value in the row is True, set to False
df[df['has_null']]
# Save the modified DataFrame
#df.to_excel("modified_file.xlsx", index=False)

# Display the first few rows
#print(df.head())

                    Unnamed: 0_level_0  2019-03-01 00:00:00  \
                          Company Name Return on Equity (%)
1          Adani Energy Solutions Ltd.                  NaN
6                 Adani Total Gas Ltd.            20.577068
11                     Bajaj Auto Ltd.            21.465571
14        Bajaj Holdings & Invst. Ltd.                  NaN
18                  Bharti Airtel Ltd.            -1.901412
30       Godrej Consumer Products Ltd.            35.625721
32             H C L Technologies Ltd.            26.889845
34                  Hero Motocorp Ltd.            26.326813
38                   I T C Hotels Ltd.                  NaN
42  Indian Railway Finance Corpn. Ltd.            12.131709
44                        Infosys Ltd.            23.444053
48           Jindal Steel & Power Ltd.            -1.166176
59            Pidilite Industries Ltd.                  NaN
60           Power Finance Corpn. Ltd.            16.062011
66                Shriram Finance Ltd.            16.190555
79                 United Spirits Ltd.            21.031455

                                                                    \
   Net Profit Margin (%) Debt/Equity (Times) Current Ratio (Times)
1                    NaN                 NaN                   NaN
6              12.666423            0.311081              1.369470
11             14.703479            0.005717              1.449932
14                   NaN                 NaN                   NaN
18             -3.749062            0.829353              0.321491
30             30.395791            0.000000              1.115098
32             30.521684            0.001051              2.932591
34              9.856417            0.000000              1.964875
38                   NaN                 NaN                   NaN
42             20.251689            9.358509             26.259663
44             19.355178            0.000000              2.995658
48             -0.943045            0.780498              0.583138
59                   NaN                 NaN                   NaN
60             24.099165            6.820340              3.214022
66             16.493178            5.551458              0.759257
79              7.256661            0.821619              1.040830

    2020-03-01 00:00:00                                            \
   Return on Equity (%) Net Profit Margin (%) Debt/Equity (Times)
1                   NaN                   NaN                 NaN
6             29.469304             22.733384            0.239685
11            25.595255             16.112556            0.006303
14            17.085543             82.818946            0.000000
18           -35.579706            -63.805614            0.766844
30            23.010480             21.199272            0.061886
32            23.888031             26.950930            0.004261
34            25.701452             12.268546            0.000000
38                  NaN                   NaN                 NaN
42            11.918949             26.682169            7.565564
44            24.975094             19.013542            0.000000
48             2.605206              2.346448            0.641320
59            24.673335             16.988642            0.000000
60            12.521311             16.946240            6.869937
66            13.895136             15.087112            5.241375
79            18.497519              7.713104            0.347271

                          2021-03-01 00:00:00  ...   2022-03-01 00:00:00  \
   Current Ratio (Times) Return on Equity (%)  ... Current Ratio (Times)
1                    NaN                  NaN  ...              0.965652
6               0.944137            24.172565  ...              0.247034
11              1.552021            18.072149  ...              2.132477
14              0.652215             1.416804  ...              0.753411
18              0.630625           -32.571825  ...              0.437003
30              1.195504            19.253111  ...              2.619572
32              1.702535            20.074392  ...              2.973239
34              2.084616            19.503330  ...              1.994125
38                   NaN                  NaN  ...                   NaN
42             25.380045            12.296618  ...                   NaN
44              2.879106            25.231019  ...              2.099496
48              0.739171            21.917425  ...              1.373983
59              2.567025            19.446452  ...              1.709303
60              1.191811            16.116642  ...              1.694929
66              4.927900            11.531944  ...             10.385585
79              1.035604             7.519143  ...              1.410053

    2023-03-01 00:00:00                                            \
   Return on Equity (%) Net Profit Margin (%) Debt/Equity (Times)
1              1.648937             13.070410            0.251815
6             18.033049             11.224168            0.466939
11            22.133371             14.963432            0.004886
14            10.925960             88.361960            0.000000
18            -0.113427             -0.102571            1.780415
30            16.127176             19.389879            0.002538
32            27.878065             24.222631            0.004647
34            17.423312              8.468174            0.000000
38                  NaN                   NaN                 NaN
42            13.936589             26.478547            9.213248
44            34.346446             18.196179            0.000000
48             5.983773              4.691400            0.292808
59            17.686434             11.793312            0.000000
60            17.016264             29.258252            5.430436
66            13.806985             20.062960            3.646238
79            17.691984             10.066138            0.000185

                          2024-03-01 00:00:00                        \
   Current Ratio (Times) Return on Equity (%) Net Profit Margin (%)
1               1.540092             5.447126             23.683760
6               0.392102                  NaN                   NaN
11              1.707362                  NaN                   NaN
14              0.911445                  NaN                   NaN
18              0.518589                  NaN                   NaN
30              3.026351                  NaN                   NaN
32              2.678448                  NaN                   NaN
34              1.606832                  NaN                   NaN
38                   NaN             1.307967             26.442308
42             18.125758            13.038405             24.055078
44              1.897894                  NaN                   NaN
48              0.943178                  NaN                   NaN
59              1.855674                  NaN                   NaN
60              1.980016                  NaN                   NaN
66              7.242429                  NaN                   NaN
79              1.760235                  NaN                   NaN

                                             has_null
   Debt/Equity (Times) Current Ratio (Times)
1             0.472889              1.251469     True
6                  NaN                   NaN     True
11                 NaN                   NaN     True
14                 NaN                   NaN     True
18                 NaN                   NaN     True
30                 NaN                   NaN     True
32                 NaN                   NaN     True
34                 NaN                   NaN     True
38            0.000000             37.801762     True
42            8.378287             20.095484     True
44                 NaN                   NaN     True
48                 NaN                   NaN     True
59                 NaN                   NaN     True
60                 NaN                   NaN     True
66                 NaN                   NaN     True
79                 NaN                   NaN     True

[16 rows x 26 columns]

In [6]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,has_null
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,NaN,2019-03-01 00:00:00,2019-03-01 00:00:00,2019-03-01 00:00:00,2019-03-01 00:00:00,2020-03-01 00:00:00,2020-03-01 00:00:00,2020-03-01 00:00:00,2020-03-01 00:00:00,2021-03-01 00:00:00,...,2022-03-01 00:00:00,2023-03-01 00:00:00,2023-03-01 00:00:00,2023-03-01 00:00:00,2023-03-01 00:00:00,2024-03-01 00:00:00,2024-03-01 00:00:00,2024-03-01 00:00:00,2024-03-01 00:00:00,True
4,Company Name,Return on Equity (%),Net Profit Margin (%),Debt/Equity (Times),Current Ratio (Times),Return on Equity (%),Net Profit Margin (%),Debt/Equity (Times),Current Ratio (Times),Return on Equity (%),...,Current Ratio (Times),Return on Equity (%),Net Profit Margin (%),Debt/Equity (Times),Current Ratio (Times),Return on Equity (%),Net Profit Margin (%),Debt/Equity (Times),Current Ratio (Times),False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,Varun Beverages Ltd.,12.83735,8.405604,0.832305,0.664568,11.598873,7.850296,0.698906,0.736358,5.643921,...,0.722466,23.021532,11.827185,0.393399,0.750203,25.088475,13.890958,0.535096,0.891337,False
86,Vedanta Ltd.,6.516436,11.329137,0.484091,0.464959,-9.63159,-17.382772,0.464239,0.429017,13.677562,...,0.68189,30.43609,23.79508,0.601635,0.61781,10.105896,8.6793,0.644409,0.510576,False
87,Wipro Ltd.,15.415452,15.020003,0.102733,2.956431,18.686778,16.41473,0.108215,2.779972,22.238161,...,2.234093,14.621357,13.087659,0.082545,2.864638,15.781066,13.056751,0.072254,2.741269,False
88,Zomato Ltd.,-33.439291,-74.932275,0,4.711529,-287.079395,-98.608474,0,1.784038,-10.792427,...,11.064395,0.562327,2.124569,0,9.325939,6.019753,18.178202,0,2.544531,False
89,Zydus Lifesciences Ltd.,17.337735,21.826065,0.390098,1.518942,12.547768,18.808359,0.262378,1.38947,11.583063,...,1.69751,11.21162,16.478448,0.347543,2.565571,21.897341,28.911665,0.392802,3.12261,False

In [14]:

df2 = pd.read_excel(file_path, sheet_name="CP", header=[0, 1])  # Sheet numbers are 0-indexed

# Create the 'has_null' column
df2['has_null'] = df.isnull().any(axis=1)
#df2.loc[df.any(axis=1), 'has_null'] = False  # If any value in the row is True, set to False
df2[df2['has_null']].head()
# Save the modified DataFrame
#df2.to_excel("modified_file.xlsx", index=False)

                         Unnamed: 0_level_0 2023-01-01 00:00:00  \
                               Company Name      Closing Price
0                          A B B India Ltd.             2839.50
1               Adani Energy Solutions Ltd.             1774.00
2                    Adani Enterprises Ltd.             2973.90
3                   Adani Green Energy Ltd.             1223.90
4  Adani Ports & Special Economic Zone Ltd.              612.65

                                     2023-02-01 00:00:00  \
  Adjusted Closing Price        EPS       Closing Price
0                 2839.50  29.890749             3217.35
1                 1774.00   1.077103              642.90
2                 2973.90  12.220251             1363.85
3                 1223.90  -1.306791              485.30
4                  612.65  -8.135356              592.45

                                     2023-03-01 00:00:00  \
  Adjusted Closing Price        EPS       Closing Price
0                 3217.35  29.890749             3365.15
1                  642.90   1.077103              993.05
2                 1363.85  12.220251             1750.45
3                  485.30  -1.306791              881.15
4                  592.45  -8.135356              631.90

                                      ... 2024-10-01 00:00:00  \
  Adjusted Closing Price        EPS   ...      Closing Price
0                 3365.15  37.685155  ...             7429.45
1                  993.05   1.526052  ...              976.20
2                 1750.45  14.689722  ...             2947.25
3                  881.15  -1.660319  ...             1598.30
4                  631.90  -2.061812  ...             1375.95

                                     2024-11-01 00:00:00  \
  Adjusted Closing Price        EPS       Closing Price
0                 7429.45  78.340934             7421.25
1                  976.20   3.686393              840.50
2                 2947.25  22.422658             2463.15
3                 1598.30   0.284085             1323.90
4                 1375.95  10.688479             1190.05

                                     2024-12-01 00:00:00  \
  Adjusted Closing Price        EPS       Closing Price
0                 7421.25  78.340934             6912.25
1                  840.50   3.686393              806.20
2                 2463.15  22.422658             2528.65
3                 1323.90   0.284085             1040.70
4                 1190.05  10.688479             1231.10

                                     has_null
  Adjusted Closing Price         EPS
0                 6912.25  78.340934    False
1                  806.20   4.097870     True
2                 2528.65  20.829580    False
3                 1040.70   3.087058    False
4                 1231.10  10.148699    False

[5 rows x 74 columns]